.box-bg {
  background-color: #346ed118;
  border: 1px solid #00000029;
}
.box-bg:hover {
  background-color: #346ed116;
  scale: none !important;
  transition: all 0.3s;
}
.text-color {
  color: #29292a;
}
.height{
  height: 200px !important;
}
.custom-style{
  overflow: hidden;
}