:root {
  --swiper-theme-color: #ef476f !important;
  --swiper-navigation-size: 50px !important;
}
#bg-nav,
#bg-nav1,
#bg-nav2 {
  background-color: #04bea2;
}
.border-r {
  border-radius: 10px;
}
.bg-card {
  color: #dae5eb;
  background-color: #04a48c;
  box-shadow:
    rgb(196, 217, 235) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
@media screen and (max-width: 600px) {
  .btn-sm-none {
    display: none;
  }
}

/* slider */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  user-select: none;
}
.c1,
.c2,
.c3,
.c4 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px !important;
}
.c1 {
  background-image: url("../../../assets/images/section2-bac.jpg");
}
.c2 {
  background-image: url("../../../assets/images/Logo.jpg");
}
.c3 {
  background-image: url("../../../assets/images/Question.png");
}
.c4 {
  background-image: url("../../../assets/images/support\ img.jpg");
}
.sa{
  height: 100px;
}
.padding-section2{
  margin: 50px 0;
  padding: 0 80px !important;
}
.bg-pic {
  background-image: url("../../../assets/images/banner-main.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  /* background-attachment: fixed; */
}
