@font-face {
    font-family: "vazir";
    src: url("../../assets/fonts/Vazirmatn-Regular.ttf");
}
body{
    font-family: "vazir";
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
#BtnLogin{
  background-color: #dae5eb;
  color: rgb(0, 0, 0);
  border: 1px solid #212;
  padding: 15px;
}
#BtnRegister{
  background-color: #212;
  color: #ffffff;
  border: 1px solid #212;
  padding: 15px;
}
#BtnLogin:hover , #BtnRegister:hover{
  background-color: #212;
  color: white;
}
.form {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.479), inset 5px 5px 9px rgba(94, 104, 121, 0.205);
  background-color: #dae5eb;
  text-align: center;
}
.form input {
  outline: 0;
  background: #dae5eb;
  border-right: 4px solid #000000;
  border-top: 1px solid #dae5eb;
  border-left: 1px solid #dae5eb;
  border-bottom: 1px solid #dae5eb;
  border-radius: 5px;
  caret-color: #ff0000;
  width: 100%;
  margin: 0 0 15px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.479), inset 5px 5px 9px rgba(94, 104, 121, 0.205);
}
.form .button {
  outline: 0;
  background: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  transition: all 0.3 ease;
  cursor: pointer;
  border: 1px solid #000000;
  /* border-top: none;
  border-bottom: none;
  border-left: none; */
  color: #000000;
  /* box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.479), inset 5px 5px 9px rgba(94, 104, 121, 0.205); */
}
.form .button:hover,.form .button:active,.form .button:focus {
    color: #dae5eb;
    background-color: #000000;
    transition: all .3s;
}
.form .message {
  margin: 15px 0 0;
  color: #000000;
  font-size: 15px;
}
.form .message a {
  color: #161616;
  text-decoration: none;
}
.form .message a:hover{
    color: #868686;
    transition: all .3s;
}
Button.active{
  border: 1px solid #212;
  background-color: #dae5eb;
}