/* 
.text-green{
    color: #1fd860;
    font-weight: bold;
/* }
#btn-green{
    background-color: #1fd860;
    color: #dae5eb;
    border: none;
    text-decoration: none;
    opacity: .8;
    padding: 10px 20px;
}
#btn-green:hover{
    background-color: #ef476f;
    opacity: 1;
    transition: all .5s;
}
#btn-green1{
    background-color: #1fd860;
    color: #dae5eb;
    border: none;
    text-decoration: none;
    opacity: .8;
    padding: 10px 20px;
}
#btn-green1:hover{
    background-color: #ef476f;
    opacity: 1;
    transition: all .5s;
} */

#btn-green {
  background-color: #1fd860;
  color: #dae5eb;
  border: none;
  text-decoration: none;
  opacity: 0.8;
  padding: 10px 20px;
}
#btn-green:hover {
  background-color: #ef476f;
  opacity: 1;
  transition: all 0.5s;
}
#btn-green1 {
  background-color: #1fd860;
  color: #dae5eb;
  border: none;
  text-decoration: none;
  opacity: 0.8;
  padding: 10px 20px;
}
#btn-green1:hover {
  background-color: #ef476f;
  opacity: 1;
  transition: all 0.5s;
}
.style-swiper-S4{
    padding: 0 50px;
}
.style-swiper-slide-S4 {
    width: 100%;
    height: 100%;
    border: 3px solid #1fd860;
    border-radius: 50px 0 50px;
}

.style-swiper-slide-S4 {
  font-size: 18px;
}
.style-swiper-slide-S4:nth-child(1n) {
  background-color: #dae5ebd6;
 
}
.style-swiper-slide-S4:nth-child(2n) {
  background-color: #dae5ebd6;
  border: 5px solid #dae5ebc3;
}

.style-swiper-slide-S4:nth-child(3n) {
  background-color: #dae5ebd6;
  border: 5px solid #dae5ebc3;
}

.style-swiper-slide-S4:nth-child(4n) {
  background-color: #dae5ebd6;
  border: 5px solid #dae5ebc3;
}

.style-swiper-slide-S4:nth-child(5n) {
  background-color: #dae5ebd6;
  border: 5px solid #dae5ebc3;
}
.colorS4-title {
  color: #1fd860;
  font-weight: bold;
}
