.btn-login{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    color: #212529;
    border: 2px solid #1fd860;
}
.btn-login:hover {
    background-color: #1fd860;
    color: #212529;
    transition: all 0.5s ease-in-out;
}
.bg-nav{
  background-color: #dae5eb;
}
.nav-link.active{
  border-bottom: 2px solid #1fd860;
}
.nav-link:hover {
  color: #1fd860;
}
.border-logo{
  border: 2px solid #212529;
}
#display {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-hide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#dsply , #dsply1 , #dsply2 ,
#dsply3 , #dsply4 
, #dsply5 , #dsply6{
  display: none;
} 
@media screen and (max-width: 990px) {
  #display {
    display: flex;
  }
  #dsply , #dsply1 , #dsply2 ,
  #dsply3 , #dsply4 
  , #dsply5{
    display: flex;
  }
  #menu-hide {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  #display {
    margin: auto;
  }
}
@media screen and (min-width: 991px) {
  #display {
    display: none;
  }
}
@media screen and (min-width: 520px) and (max-width: 992px) {
    .fiexd-logo{
      /* position: fixed !important;
      bottom: 0 !important;
      right: 0 !important;
      margin-bottom: 5rem !important;
      margin-right: 2rem !important; */
      display: none;
    }
  }

/*  position-fixed bottom-0 start-0 mb-5 ms-2 */