.accordion-item {
  border-radius: none !important;
  margin-bottom: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.148) 0px 5px 15px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-body{
    text-align: right !important;
}