* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazir";
}
@font-face {
    src: url("assets/fonts/Vazirmatn-Regular.ttf");
    font-family: "vazir";
}
::selection{
    background-color: #ef476f;
    color: #dae5eb;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #dae5eb; 
}
::-webkit-scrollbar-thumb {
    background: #04bea2; 
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ef476f; 
}
.m-inline{
    margin-inline: -8px;
  }
  